par2cmd
config.yaml
test_files/
parpar
.postie_queue.db
dist/

# Coverage files
coverage.out
coverage.html
test-results/

colima-Darwin-x86_64
install.log
qemu.rb
node_modules/
git
build/
frontend/build
.svelte-kit